/* line 3, robot.scss */
.robot {
  width: 150px;
  position: relative;
  margin: 10px auto;
}
/* line 160, robot.scss */
.robot div {
  background: #000;
  opacity: 0.6;
  height: 100px;
  width: 10px;
  position: absolute;
  z-index: 20;
}
/* line 169, robot.scss */
.robot .joint, .robot .joint-arm-left, .robot .joint-forearm-left, .robot .joint-hand-left, .robot .joint-arm-right, .robot .joint-forearm-right, .robot .joint-hand-right, .robot .joint-ham-left, .robot .joint-shank-left, .robot .joint-foot-left, .robot .joint-ham-right, .robot .joint-shank-right, .robot .joint-foot-right {
  z-index: 10;
  opacity: 0.6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 175, robot.scss */
.robot .arm, .robot .arm-left, .robot .arm-right {
  width: 24px;
  height: 90px;
  -moz-border-radius-bottomright: 12px;
  -webkit-border-bottom-right-radius: 12px;
  border-bottom-right-radius: 12px;
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
/* line 183, robot.scss */
.robot .forearm, .robot .forearm-left, .robot .forearm-right {
  width: 21.33333px;
  height: 70px;
  -webkit-border-radius: 10.66667px;
  -moz-border-radius: 10.66667px;
  -ms-border-radius: 10.66667px;
  -o-border-radius: 10.66667px;
  border-radius: 10.66667px;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
/* line 190, robot.scss */
.robot .hand, .robot .hand-left, .robot .hand-right {
  width: 24px;
  height: 20px;
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -moz-border-radius-topright: 12px;
  -webkit-border-top-right-radius: 12px;
  border-top-right-radius: 12px;
  -moz-border-radius-bottomright: 96px;
  -webkit-border-bottom-right-radius: 96px;
  border-bottom-right-radius: 96px;
  -moz-border-radius-bottomleft: 96px;
  -webkit-border-bottom-left-radius: 96px;
  border-bottom-left-radius: 96px;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
/* line 200, robot.scss */
.robot .ham, .robot .ham-left, .robot .ham-right {
  width: 50.55556px;
  height: 109px;
  -moz-border-radius-topleft: 101.11111px;
  -webkit-border-top-left-radius: 101.11111px;
  border-top-left-radius: 101.11111px;
  -moz-border-radius-topright: 101.11111px;
  -webkit-border-top-right-radius: 101.11111px;
  border-top-right-radius: 101.11111px;
  -moz-border-radius-bottomright: 202.22222px;
  -webkit-border-bottom-right-radius: 202.22222px;
  border-bottom-right-radius: 202.22222px;
  -moz-border-radius-bottomleft: 202.22222px;
  -webkit-border-bottom-left-radius: 202.22222px;
  border-bottom-left-radius: 202.22222px;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
/* line 210, robot.scss */
.robot .shark, .robot .shank-left, .robot .shank-right {
  width: 33.7037px;
  height: 90px;
  -webkit-border-radius: 11.23457px;
  -moz-border-radius: 11.23457px;
  -ms-border-radius: 11.23457px;
  -o-border-radius: 11.23457px;
  border-radius: 11.23457px;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
/* line 217, robot.scss */
.robot .foot, .robot .foot-left, .robot .foot-right {
  width: 40.44444px;
  height: 30px;
  -moz-border-radius-topleft: 40.44444px;
  -webkit-border-top-left-radius: 40.44444px;
  border-top-left-radius: 40.44444px;
  -moz-border-radius-topright: 40.44444px;
  -webkit-border-top-right-radius: 40.44444px;
  border-top-right-radius: 40.44444px;
  -moz-border-radius-bottomright: 20.22222px;
  -webkit-border-bottom-right-radius: 20.22222px;
  border-bottom-right-radius: 20.22222px;
  -moz-border-radius-bottomleft: 20.22222px;
  -webkit-border-bottom-left-radius: 20.22222px;
  border-bottom-left-radius: 20.22222px;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
/* line 227, robot.scss */
.robot .head {
  width: 60px;
  height: 60px;
  left: 45px;
  top: -2px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
/* line 235, robot.scss */
.robot .neck {
  width: 40px;
  height: 29px;
  left: 55px;
  top: 49px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 243, robot.scss */
.robot .body {
  width: 105px;
  height: 90px;
  left: 22.5px;
  top: 69px;
  -moz-border-radius-topleft: 8.75px;
  -webkit-border-top-left-radius: 8.75px;
  border-top-left-radius: 8.75px;
  -moz-border-radius-topright: 8.75px;
  -webkit-border-top-right-radius: 8.75px;
  border-top-right-radius: 8.75px;
  -moz-border-radius-bottomright: 45px;
  -webkit-border-bottom-right-radius: 45px;
  border-bottom-right-radius: 45px;
  -moz-border-radius-bottomleft: 45px;
  -webkit-border-bottom-left-radius: 45px;
  border-bottom-left-radius: 45px;
}
/* line 254, robot.scss */
.robot .joint-arm-left {
  width: 20px;
  height: 20px;
  left: 11.5px;
  top: 78px;
}
/* line 262, robot.scss */
.robot .arm-left {
  left: -3.5px;
  top: 69px;
  -moz-border-radius-topleft: 24px;
  -webkit-border-top-left-radius: 24px;
  border-top-left-radius: 24px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 270, robot.scss */
.robot .joint-forearm-left {
  width: 20px;
  height: 20px;
  left: -1.5px;
  top: 150px;
}
/* line 278, robot.scss */
.robot .forearm-left {
  left: -2.16667px;
  top: 161px;
}
/* line 284, robot.scss */
.robot .joint-hand-left {
  width: 20px;
  height: 20px;
  left: -1.5px;
  top: 222px;
}
/* line 292, robot.scss */
.robot .hand-left {
  left: -3.5px;
  top: 233px;
}
/* line 298, robot.scss */
.robot .joint-arm-right {
  width: 20px;
  height: 20px;
  left: 118.5px;
  top: 78px;
}
/* line 306, robot.scss */
.robot .arm-right {
  left: 129.5px;
  top: 69px;
  -moz-border-radius-topright: 24px;
  -webkit-border-top-right-radius: 24px;
  border-top-right-radius: 24px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
}
/* line 314, robot.scss */
.robot .joint-forearm-right {
  width: 20px;
  height: 20px;
  left: 131.5px;
  top: 150px;
}
/* line 322, robot.scss */
.robot .forearm-right {
  left: 130.83333px;
  top: 161px;
}
/* line 328, robot.scss */
.robot .joint-hand-right {
  width: 20px;
  height: 20px;
  left: 131.5px;
  top: 222px;
}
/* line 336, robot.scss */
.robot .hand-right {
  left: 129.5px;
  top: 233px;
}
/* line 342, robot.scss */
.robot .joint-waist {
  width: 75px;
  height: 39px;
  left: 37.5px;
  top: 150px;
  -moz-border-radius-topleft: 6.25px;
  -webkit-border-top-left-radius: 6.25px;
  border-top-left-radius: 6.25px;
  -moz-border-radius-topright: 6.25px;
  -webkit-border-top-right-radius: 6.25px;
  border-top-right-radius: 6.25px;
  -moz-border-radius-bottomright: 37.5px;
  -webkit-border-bottom-right-radius: 37.5px;
  border-bottom-right-radius: 37.5px;
  -moz-border-radius-bottomleft: 37.5px;
  -webkit-border-bottom-left-radius: 37.5px;
  border-bottom-left-radius: 37.5px;
}
/* line 353, robot.scss */
.robot .waist {
  width: 105px;
  height: 40px;
  left: 22.5px;
  top: 180px;
  -moz-border-radius-topright: 420px;
  -webkit-border-top-right-radius: 420px;
  border-top-right-radius: 420px;
  -moz-border-radius-topleft: 420px;
  -webkit-border-top-left-radius: 420px;
  border-top-left-radius: 420px;
  -moz-border-radius-bottomright: 210px;
  -webkit-border-bottom-right-radius: 210px;
  border-bottom-right-radius: 210px;
  -moz-border-radius-bottomleft: 210px;
  -webkit-border-bottom-left-radius: 210px;
  border-bottom-left-radius: 210px;
}
/* line 364, robot.scss */
.robot .joint-ham-left {
  width: 20px;
  height: 20px;
  left: 38.75px;
  top: 211px;
}
/* line 372, robot.scss */
.robot .ham-left {
  left: 23.47222px;
  top: 222px;
  -moz-border-radius-bottomleft: 505.55556px;
  -webkit-border-bottom-left-radius: 505.55556px;
  border-bottom-left-radius: 505.55556px;
}
/* line 379, robot.scss */
.robot .joint-shank-left {
  width: 20px;
  height: 20px;
  left: 42.36111px;
  top: 322px;
}
/* line 387, robot.scss */
.robot .shank-left {
  left: 35.50926px;
  top: 333px;
}
/* line 393, robot.scss */
.robot .joint-foot-left {
  width: 20px;
  height: 20px;
  left: 42.36111px;
  top: 414px;
}
/* line 401, robot.scss */
.robot .foot-left {
  left: 32.13889px;
  top: 425px;
}
/* line 407, robot.scss */
.robot .joint-ham-right {
  width: 20px;
  height: 20px;
  left: 91.25px;
  top: 211px;
}
/* line 415, robot.scss */
.robot .ham-right {
  left: 75.97222px;
  top: 222px;
  -moz-border-radius-bottomright: 505.55556px;
  -webkit-border-bottom-right-radius: 505.55556px;
  border-bottom-right-radius: 505.55556px;
}
/* line 422, robot.scss */
.robot .joint-shank-right {
  width: 20px;
  height: 20px;
  left: 87.63889px;
  top: 322px;
}
/* line 430, robot.scss */
.robot .shank-right {
  left: 80.78704px;
  top: 333px;
}
/* line 436, robot.scss */
.robot .joint-foot-right {
  width: 20px;
  height: 20px;
  left: 87.63889px;
  top: 414px;
}
/* line 444, robot.scss */
.robot .foot-right {
  left: 77.41667px;
  top: 425px;
}
